<!DOCTYPE html>
@using Microsoft.AspNet.Identity
<html>
<head>
    <!-- Page Title -->
    <title>@ViewBag.Title</title>

    <base href="@Url.Content("~/Content/")">

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description">
    @*<meta name="author" content="SoapTheme">*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Theme Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="fav/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="fav/manifest.json">
    <link rel="shortcut icon" href="fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="fav/mstile-144x144.png">
    <meta name="msapplication-config" content="fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/revolution_slider/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/jquery.bxslider/jquery.bxslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="components/flexslider/flexslider.css" media="screen" />

    <!-- Main Style -->
    <link id="main-style" rel="stylesheet" href="css/style.css?v=1">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Updated Styles -->
    <link rel="stylesheet" href="css/updates.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/g/modernizr@2.8.3,detectizr@2.2.0,jquery"></script>

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!--            Google Analytics                    -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37836114-1']);
        _gaq.push(['_setDomainName', 'andgo.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <style type="text/css">
        #Route {
            color: white;
            display: inline-block;
        }

        #logoutForm > li {
            float: left;
            margin: 5px 10px 0 10px;
        }
    </style>

    <div id="page-wrapper" style="max-width:1350px;margin:0 auto;">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        @*<li><a href="#">MY ACCOUNT</a></li>*@
                        <li class="ribbon hide">
                            <a href="#">English</a>
                            <ul class="menu mini">
                                <li><a href="#" title="Dansk">Dansk</a></li>
                                <li><a href="#" title="Deutsch">Deutsch</a></li>
                                <li class="active"><a href="#" title="English">English</a></li>
                                <li><a href="#" title="Español">Español</a></li>
                                <li><a href="#" title="Français">Français</a></li>
                                <li><a href="#" title="Italiano">Italiano</a></li>
                                <li><a href="#" title="Magyar">Magyar</a></li>
                                <li><a href="#" title="Nederlands">Nederlands</a></li>
                                <li><a href="#" title="Norsk">Norsk</a></li>
                                <li><a href="#" title="Polski">Polski</a></li>
                                <li><a href="#" title="Português">Português</a></li>
                                <li><a href="#" title="Suomi">Suomi</a></li>
                                <li><a href="#" title="Svenska">Svenska</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="social-icons clearfix pull-right" style="padding:0 0 0 25px;">
                        @*<li class="twitter"><a title="twitter" href="https://twitter.com/andgocom" data-toggle="tooltip" target="_blank"><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus" href="https://plus.google.com/117118397476791310820" data-toggle="tooltip" target="_blank"><i class="soap-icon-googleplus"></i></a></li>*@
                        <li class="facebook"><a title="facebook" href="http://www.facebook.com/andgocom" data-toggle="tooltip" target="_blank"><i class="soap-icon-facebook"></i></a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li>@Html.ActionLink("Home", "index", "Home")</li>
                        <li>@Html.ActionLink("Packages", "index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "about", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "contact", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", System.Web.Mvc.FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()


                                <li>
                                    @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Profile", "Account", routeValues: null, htmlAttributes: new { title = "Profile", id = "Route" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white;">Log off</a></li>

                            }
                        }

                        else
                        {
                            @*<li>@Html.ActionLink("LogIn", "Login", "Account")</li>
                                <li>@Html.ActionLink("SIGNUP", "Register", "Account")</li>*@
                            <li>@*<a href="@Url.Content("~/Account/Login")" class="soap-popupbox">LOGIN</a>*@</li>
                            <li>@*<a href="@Url.Content("~/Account/Register")" class="soap-popupbox">SIGNUP</a>*@</li>
                        }
                        @*<li class="ribbon currency">
                                <a href="#" title="">USD</a>
                                <ul class="menu mini">
                                    <li><a href="#" title="AUD">AUD</a></li>
                                    <li><a href="#" title="BRL">BRL</a></li>
                                    <li class="active"><a href="#" title="USD">USD</a></li>
                                    <li><a href="#" title="CAD">CAD</a></li>
                                    <li><a href="#" title="CHF">CHF</a></li>
                                    <li><a href="#" title="CNY">CNY</a></li>
                                    <li><a href="#" title="CZK">CZK</a></li>
                                    <li><a href="#" title="DKK">DKK</a></li>
                                    <li><a href="#" title="EUR">EUR</a></li>
                                    <li><a href="#" title="GBP">GBP</a></li>
                                    <li><a href="#" title="HKD">HKD</a></li>
                                    <li><a href="#" title="HUF">HUF</a></li>
                                    <li><a href="#" title="IDR">IDR</a></li>
                                </ul>
                            </li>*@
                        @*@Html.Partial("_LoginPartial")*@
                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle" style="z-index: 9999;">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <div class="col-md-3">
                        <h2 class="navbar-brand" style="padding-top:0px;padding-left:0px;margin-left:-20px;margin-top:-5px;">
                            <a href="@Url.Content("~/")" title="@ViewBag.Client.Name">
                                <img src="@Url.Content("~/content/images/logo.png")" alt="website logo" style="max-height:100px;" />
                            </a>
                        </h2>
                    </div>
                    <div class="col-md-6 text-center">
                        <h1 id="slogan" style="padding-top: 18px;">@ViewBag.Client.Slogan</h1>
                    </div>
                    <div class="col-md-3">
                        <nav id="main-menu" role="navigation">
                            <ul class="menu">
                                <li style="height: 68px;line-height: 68px;padding-top: 18px;letter-spacing:0.10em;">
                                    <h2>CALL US <i class="soap-icon-phone"></i> @ViewBag.Client.ContactNumber</h2>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Packages", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    </ul>

                    @*<ul class="mobile-topnav container">
                            <li><a href="#">MY ACCOUNT</a></li>
                            <li class="ribbon language menu-color-skin">
                                <a href="#" data-toggle="collapse">ENGLISH</a>
                                <ul class="menu mini">
                                    <li><a href="#" title="Dansk">Dansk</a></li>
                                    <li><a href="#" title="Deutsch">Deutsch</a></li>
                                    <li class="active"><a href="#" title="English">English</a></li>
                                    <li><a href="#" title="Español">Español</a></li>
                                    <li><a href="#" title="Français">Français</a></li>
                                    <li><a href="#" title="Italiano">Italiano</a></li>
                                    <li><a href="#" title="Magyar">Magyar</a></li>
                                    <li><a href="#" title="Nederlands">Nederlands</a></li>
                                    <li><a href="#" title="Norsk">Norsk</a></li>
                                    <li><a href="#" title="Polski">Polski</a></li>
                                    <li><a href="#" title="Português">Português</a></li>
                                    <li><a href="#" title="Suomi">Suomi</a></li>
                                    <li><a href="#" title="Svenska">Svenska</a></li>
                                </ul>
                            </li>
                            <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                            <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                            @*<li class="ribbon currency menu-color-skin">
                                <a href="#">USD</a>
                                <ul class="menu mini">
                                    <li><a href="#" title="AUD">AUD</a></li>
                                    <li><a href="#" title="BRL">BRL</a></li>
                                    <li class="active"><a href="#" title="USD">USD</a></li>
                                    <li><a href="#" title="CAD">CAD</a></li>
                                    <li><a href="#" title="CHF">CHF</a></li>
                                    <li><a href="#" title="CNY">CNY</a></li>
                                    <li><a href="#" title="CZK">CZK</a></li>
                                    <li><a href="#" title="DKK">DKK</a></li>
                                    <li><a href="#" title="EUR">EUR</a></li>
                                    <li><a href="#" title="GBP">GBP</a></li>
                                    <li><a href="#" title="HKD">HKD</a></li>
                                    <li><a href="#" title="HUF">HUF</a></li>
                                    <li><a href="#" title="IDR">IDR</a></li>
                                </ul>
                            </li>
                        </ul>*@

                </nav>
            </div>
            @*<div id="travelo-signup" class="travelo-signup-box travelo-box">
                    <div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>
                    <div class="seperator"><label>OR</label></div>
                    <div class="simple-signup">
                        <div class="text-center signup-email-section">
                            <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                        </div>
                        <p class="description">By signing up, I agree to Andgo.com's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                    </div>
                    <div class="email-signup">
                        <form>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="first name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="last name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="input-text full-width" placeholder="email address">
                            </div>
                            <div class="form-group">
                                <input type="password" class="input-text full-width" placeholder="password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="input-text full-width" placeholder="confirm password">
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Tell me about Andgo.com news
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="description">By signing up, I agree to Andgo.com's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                            </div>
                            <button type="submit" class="full-width btn-medium">SIGNUP</button>
                        </form>
                    </div>
                    <div class="seperator"></div>
                    <p>Already a Andgo.com member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
                </div>
                <div id="travelo-login" class="travelo-login-box travelo-box">
                    <div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>
                    <div class="seperator"><label>OR</label></div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <a href="#" class="forgot-password pull-right">Forgot password?</a>
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="seperator"></div>
                    <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
                </div>*@
        </header>

        @RenderBody()

        <footer id="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2>Where Are We?</h2>
                            <iframe src="http://maps.google.com/maps?q=@ViewBag.Client.Name,@ViewBag.Client.AddressLine2,@ViewBag.Client.City,@ViewBag.Client.Country,@ViewBag.Client.Code&ll=&z=11&output=embed" width="100%" height="225px" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        @*<div class="col-sm-6 col-md-3">
                                <h2>Discover</h2>
                                <ul class="discover triangle hover row">
                                    <li class="col-xs-6"><a href="#">Safety</a></li>
                                    <li class="col-xs-6"><a href="#">About</a></li>
                                    <li class="col-xs-6"><a href="#">Travelo Picks</a></li>
                                    <li class="col-xs-6"><a href="#">Latest Jobs</a></li>
                                    <li class="active col-xs-6"><a href="#">Mobile</a></li>
                                    <li class="col-xs-6"><a href="#">Press Releases</a></li>
                                    <li class="col-xs-6"><a href="#">Why Host</a></li>
                                    <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                                    <li class="col-xs-6"><a href="#">Social Connect</a></li>
                                    <li class="col-xs-6"><a href="#">Help Topics</a></li>
                                    <li class="col-xs-6"><a href="#">Site Map</a></li>
                                    <li class="col-xs-6"><a href="#">Policies</a></li>
                                </ul>
                            </div>*@
                        @*<div class="col-sm-6 col-md-3">
                                <h2>Travel News</h2>
                                <ul class="travel-news">
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                            </a>
                                        </div>
                                        <div class="description">
                                            <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                            <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                            <span class="date">25 Sep, 2013</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="http://placehold.it/63x63" alt="" width="63" height="63" />
                                            </a>
                                        </div>
                                        <div class="description">
                                            <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                            <p>Purus ac congue arcu cursus ut vitae pulvinar massaidp.</p>
                                            <span class="date">24 Sep, 2013</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>*@
                        <div class="col-sm-6 col-md-3">
                            <h2>About @ViewBag.Client.Name</h2>
                            <p>@ViewBag.Client.Name is a South Africa based tour operator selling ready-packaged and tailor-made holidays to South Africa, Zanzibar, Mauritius, Victoria Falls and Thailand.</p>
                            <br />
                            <span class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> @ViewBag.Client.ContactNumber</span>
                                <br />
                                <a href="mailto:@ViewBag.Client.EmailAddress" class="contact-email">@ViewBag.Client.EmailAddress</a>
                            </span>
                            <ul class="social-icons clearfix" style="padding:0 0 0 25px">
                                @*<li class="twitter"><a title="twitter" href="https://twitter.com/andgocom" data-toggle="tooltip" target="_blank"><i class="soap-icon-twitter"></i></a></li>
                                    <li class="googleplus"><a title="googleplus" href="https://plus.google.com/117118397476791310820" data-toggle="tooltip" target="_blank"><i class="soap-icon-googleplus"></i></a></li>*@
                                <li class="facebook"><a title="facebook" href="http://www.facebook.com/andgocom" data-toggle="tooltip" target="_blank"><i class="soap-icon-facebook"></i></a></li>
                                @*<li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                    <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                    <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                                    <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>Mailing List</h2>
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <br />
                            <form action="@Url.Content("~/Newsletter-Signup")" method="post">
                                <input type="hidden" name="group" value="Website Newsletter Signup" />
                                <div class="icon-check submit-form" style="cursor:pointer;">
                                    <input type="email" class="input-text full-width" placeholder="your email address" required name="emailAddress" />
                                </div>
                                <input type="submit" id="submit" class="hide" />
                            </form>
                            <br />
                            <span style="color: rgb(241, 110, 62);font-weight: bold;">We respect your privacy.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="copyright pull-left">
                        <a href="@Url.Content("~/terms")">Terms and Conditions</a> | <a href="@Url.Content("~/privacy-policy")">Privacy Policy</a> | <a href="@Url.Content("~/about")">About Us</a> | <a href="@Url.Content("~/contact")">Contact Us</a>
                        @*<a href="index.html" title="Travelo - home">
                                <img src="images/logo.png" alt="Travelo HTML5 Template" />
                            </a>*@
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>
                            &copy; @ViewBag.Client.Name
                            <script>var year = new Date(); document.write(year.getFullYear());</script>. All Rights Reserved. | <a href="http://www.i-travelsolutions.co.za/" target="_blank">Powered by iTS <img style="height: 26px; margin-top: -6px;" src="~/Content/images/its-footer-icon.png" alt="iTS Logo" /></a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.noconflict.js"></script>
    <script type="text/javascript" src="js/modernizr.2.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="js/jquery-ui.1.10.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("address").each(function () {
                var embed = "<iframe width='100%' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=" + encodeURIComponent($(this).text()) + "&amp;output=embed'></iframe>";
                $(this).html(embed);
            });
        });
    </script>

    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="js/bootstrap.js"></script>



    <!-- load revolution slider scripts -->
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- load BXSlider scripts -->
    <script type="text/javascript" src="components/jquery.bxslider/jquery.bxslider.min.js"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="components/flexslider/jquery.flexslider-min.js"></script>

    <!-- Google Map Api -->
    <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>

    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>

    <!-- waypoint -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="js/theme-scripts.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>

    <script type="text/javascript" src="js/jPages.min.js"></script>

    <script type="text/javascript">
        //$(document).ready(function () {
        //    $("address").each(function () {
        //        var embed = "<iframe width='100%' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=" + encodeURIComponent($(this).text()) + "&amp;output=embed'></iframe>";
        //        $(this).html(embed);
        //    });
        //});

        tjq(document).ready(function () {
            tjq('.revolution-slider').revolution(
            {
                dottedOverlay: "none",
                delay: 9000,
                startwidth: 1170,
                startheight: 350,
                onHoverStop: "on",
                hideThumbs: 10,
                fullWidth: "on",
                forceFullWidth: "on",
                navigationType: "none",
                shadow: 0,
                spinner: "spinner4",
                hideTimerBar: "on",
                lazyType: 'smart'
            });
            tjq(".submit-form").click(function () {
                tjq(this).closest("form").find("#submit").click();
            });

            var perPage = 8;
            if (tjq("#package_container div").length > perPage) {
                tjq("div.holder").jPages({
                    containerID: "package_container",
                    perPage: perPage,
                    keyBrowse: true,
                    scrollBrowse: true,
                    previous: "Previous",
                    next: "Next"
                });
            }

            tjq(".jpage a").click(function () {
                var s = tjq(this);
                tjq('html, body').animate({
                    scrollTop: s.closest(".jpage-section").offset().top
                }, 1000);
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
