@{
    ViewBag.Title = "Terms & Conditions | " + ViewBag.Client.Name;
}
<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Terms & Conditions</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="@Url.Content("~")">HOME</a></li>
            <li class="active">Privacy Policy</li>
        </ul>
    </div>
</div>

<section id="content">
    <div class="container">
        <div id="main">
            <div class="image-style style1 large-block">
                <h1>Terms &amp; Conditions of Trading</h1>
                <p>@ViewBag.Client.Name is a trading division of Web Travel Brands SA, Company Registration Number 2011/100403/07 </p>
                <h2>Responsibility and Liability</h2>
                <p>@ViewBag.Client.Name act as agents only for various service providers/suppliers such as hotels, airlines, car rental companies, activity providers, etc. The suppliers we deal with are carefully selected, reputable and are providers of quality products/services. To the best of our ability we try to ensure that all arrangements made will be carried out as efficiently as possible, however since we do not have direct control over the provision of these services, as a result we cannot accept liability for error and ommissions from such suppliers.</p>
                <p>We regretfully cannot accept liability or pay any compensation where a service is cancelled and does not run as advertised due to situations beyond our control such as: war or unrest, riot, civil strife, strikes, terrorist activity, industrial dispute, natural or nuclear disaster, adverse weather conditions, fire and all similar events outside our control. All expenses incurred by such events, including but not limited to unscheduled extensions or curtailment of accommodation, changes to scheduled flights, additional air fares, telephone and meal costs, etc, will be for the customer's account.</p>
                <h2>Tour Prices</h2>
                <p>All prices shown on this website are based on existing airfares and  rates as provided by our suppliers as well as the exchange rate at the time pricing was prepared, pricing is however subject to change without notice due to sudden  currency fluctuations, rate adjustments from our suppliers, etc.</p>
                <p>All prices provided include the items specified but do not include any items of a personal nature such as visa’s, meals and beverages not specified, fuel, entertainment, etc.</p>
                <p>All prices are only guaranteed once full payment has been received by @ViewBag.Client.Name.</p>
                <h2>Payment</h2>
                <p>Payment can be made by means of cash deposit, an Electronic Funds Transfer (EFT) or credit card (Visa, Mastercard or Diners).  Cash deposits or EFT payments are required within 24 hours of reservation in order to secure your required reservation. Any held bookings will automatically be released should funds not physically reflect in our bank account within 24 hour.</p>
                <p>
                    <strong>
                        Bank Details:<br>
                        First National Bank<br>
                        Web Travel Brands SA (PTY) LTD<br>
                        Current Account <br>
                        Account number:
                    </strong> 62374372052<br>
                    <strong>Branch code:</strong> 203809
                </p>
                <p>Documents can only be issued and sent once full payment has been received and all services are confirmed.</p>
                <h2>Cancellations / Ammendments</h2>
                <p>Should a reservation be cancelled for any reason, notification of the cancellation must be made in writing. Cancellation charges applicable will be 100% of the total price. Under certain circumstances, subject to the acceptance of our suppliers, changes in travel dates, or names can be made whereby a change/administration fee will be levied. The administration fee of R300 per person will be charged as well as any additional charges/supplements for the newly selected travel dates.</p>
                <p>No refunds will be made for no-shows or any unused services.</p>
                <p>All bookings are subject to the terms and conditions specified by the individual suppliers of the services booked. We will provide on request, the identity of the supplier and such supplier's terms and conditions. These terms will include information relating to their specific cancellation fees or change charges as applicable to confirmed reservations, refunds, etc. </p>
                <p>Every effort is made by <a href="/">@ViewBag.Client.Name</a> to adhere to confirmed itineraries; however, we reserve the right to make changes or cancel your travel arrangements should it become necessary to do so. Due to the fact that we are reliant upon suppliers, changes to travel arrangements and cancellations may occasionally become necessary. Should any travel component be confirmed but is subsequently cancelled by the supplier for whatsoever reason, we will accept no liability but will endeavour, where possible, to refund the payment made in full.</p>
                <h2>Hotels</h2>
                <p>Please be aware that hotels undergo refurbishments occasionally, they do however try as much as possible to limit disruption and inconvenience to their guests when this occurs. If we are specifically advised of renovation work in advance by the hotel this information will be passed on to the passenger but it is important to understand that this is subject to change and that we may not always be notified.</p>
                <p>We will do everything possible to ensure that  your accommodation as booked is available on your arrival at the destination. However hotels do from time to time encounter overbookings, if we are made aware of an overbooking situation prior to your departure we will inform you and offer you an alternative of similar standard (if available), or a full refund of the payment made to us. However, if we are unaware of the overbooking at the time of your departure then we will arrange appropriate compensation if the alternative accommodation provided by the supplier concerned is not similar to the standard of the accommodation originally booked.</p>
                <p>Hotels often require a credit card upon check-in for incidentals, should any funds be held by the hotel, a refund will be made upon check-out if no incidentals were purchased.</p>
                <h2>Cars</h2>
                <p>The minimum age limit for car rental is 23 years old, drivers younger than this will be charged a surcharge for the rental and must be in possession of a vlaid drivers licence for at least 2 years. If travelling internationally an international drivers permit must be issued. The driver of the vehicle must be in possession of a valid credit card upon collection of the vehicle. This is for the fuel and security deposit which is refunded by the car rental supplier once the rental is complete.</p>
                <h2>Flights</h2>
                <p><a href="/">@ViewBag.Client.Name</a> cannot be held liable in the event of a delay or cancellation of a flight made by the airline involved. Airline policies will apply in terms of compensations/refunds.</p>
                <h2>Special Requests</h2>
                <p>Special requests must be made at the time of booking, whilst we will try to comply with the special requests, such requests are subject to availability by the supplier and cannot be guarantee.</p>
                <h2>Insurance</h2>
                <p>It is strongly recommended that all passengers have adequate travel insurance. <a href="/">@ViewBag.Client.Name</a> provides insurance options bookable via our call centre and cannot be held liable should insurance be declined or if adequate travel insurance is not purchased.</p>
                <h2>Travel Documents, Passports, Visas, Vaccinations, Innoculations</h2>
                <p>Passports must be valid for at least 6 months from date of travel internationally.</p>
                <p>All travellers will be personally responsible for ensuring that they are in the possession of the correct documentation prior to their departure. @ViewBag.Client.Name accepts no liability should you or any member of your party travel without the correct passport, visas or vaccinations. Due to the constantly changing requirements of each country, we strongly recommend that you check the applicable requirements with the embassy or consulate of the country you intend to visit and the Department of Health regarding health requirements.</p>
            </div>
        </div>
    </div>
</section>